<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop</title>
</head>

<body>
    <div id="one">
        <select id="op" name="options">
            <option value="5">5 Seconds</option>
            <option value="10">10 Seconds</option>
        </select>
        <input type="button" onclick="buy()" value="Buy!"><br>
        <input type="button" onclick="cancel()" value="Cancel">
    </div>
    <br>
    <label>Wallet balance:</label><br>
    <label id="wallet">

    </label><br>
    <input type="button" onclick="add()" value="Add 100!">
    <script src="../static/index.js"></script>
</body>

</html>